<%- include('partials/header'); -%>

<br /><br /><br /><br /><br />
<div class="container composebox">
  <div>
    <h1>Contact</h1>
    <div>
      <div class="container">
        <p><%= contact %></p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
