<%- include('partials/header'); -%>

<br><br><br><br><br><br><br>
<div class="container" style="background-color:#1abc9c;border-radius: 10px;  "  >
      
    <h1 style="text-align: center;" > <%= tittle %> </h1>
    <div class="h-auto w-auto" style="display: inline;background-color: aqua;border-radius: 10px; " >
        
        <p style="text-align: center;" >
            <%= content %>
        </p>
        

    </div>


<br><br>


</div>




<%- include('partials/footer'); -%>