<%- include('partials/header'); -%>


<div class="container" style="display: inline-block;background-color:#1abc9c;"  >
      
    <h1 style="text-align: center;" > <%= datas[0].tittle %> </h1>
    <div class="container" >
        
        <%= datas[0].messege %>

    </div>





</div>




<%- include('partials/footer'); -%>